:root {
  --heading-font-family: "Roboto", sans-serif;
  --branding-color: #272142;
  --secondary-color: #f65282;
}
body {
  margin: 0;
}

.hero {
  background-image: url("../src/photos/bg.png");
  width: 1440px;
  height: 900px;
  color: #ffff;
  text-align: center;
  padding: 270px 329px;
}

.btn-branding {
  width: 200px;
  height: 53px;
  padding: 18px 40px 18px 40px;
  background: #ffff;
  border-radius: 50px;
  color: #272142;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}

.hero h1 {
  font-weight: bold;
  font-size: 72px;
}

.hero h2 {
  font-size: 24px;
}

p {
  font-size: 18px;
  color: #fff;
}

.container {
  position: absolute;
}

nav {
  width: 100%;
  padding: 20px 140px;
  font-size: 16px;
  background-color: #282323;
  position: fixed;
  top: 0;
}

nav .company {
  color: #ffff;
  font-weight: bold;
  font-size: 25px;
}

nav ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #ffff;
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: #282323;
}

.images {
  background-color: #202020;
  padding: 144px;
  width: 1440px;
}

footer {
  width: 100%;
  padding: 41px 140px;
  color: #ffff;
  background-color: #282323;
}

footer .company {
  font-weight: bold;
  font-size: 25px;
}
footer .copyright {
  font-size: 16px;
  line-height: 18.75px;
}

footer .icons {
  font-size: 16px;
  line-height: 18.4px;
}

.content-container {
  background: #202020;
  color: #ffff;
  padding: 120px 0px;
}

h1 {
  font-size: 58px;
  font-weight: bold;
  color: #fff;
}

h4 {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: bold;
}

.btn-about {
  width: 380px;
  height: 53px;
  padding: 20px 25px;
  text-align: center;
  background: #2d2727;
  border-radius: 4px;
  color: #fff;
  line-height: 17px;
}

.about-photo {
  background: #282323;
  width: 700px;
  height: 782px;
  top: 118px;
  left: 0px;
}

.container-contact {
  background: #202020;
  text-align: center;
  padding: 77px;
}

.info {
  padding: 120px;
}
