:root {
  --heading-font-family: "Roboto", sans-serif;
  --branding-color: #272142;
}
.hero {
  background-image: url("../src/photos/bg.png");
  width: 1440px;
  height: 900px;
  color: #ffff;
  text-align: center;
  padding: 270px 329px;
}

.btn-branding {
  width: 200px;
  height: 53px;
  padding: 18px 40px 18px 40px;
  background: #ffff;
  border-radius: 50px;
  color: #272142;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}

.hero h1 {
  font-weight: bold;
  font-size: 72px;
}

.hero h2 {
  font-size: 24px;
}

.hero p {
  font-size: 18px;
}
.container {
  position: absolute;
}

nav {
  height: 118px;
  width: 95%;
  padding: 20px 140px;
  font-size: 16px;
  background-color: #202020;
}

nav .company {
  color: #ffff;
  font-weight: bold;
  font-size: 25px;
}

nav ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #ffff;
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: #282323;
}

.images {
  background-color: #202020;
  padding: 144px;
  width: 1440px;
}

footer {
  padding: 41px 140px;
  color: #ffff;
  background-color: #282323;
}

footer .company {
  font-weight: bold;
  font-size: 25px;
}
footer .copyright {
  font-size: 16px;
  line-height: 18.75px;
}

footer .icons {
  font-size: 16px;
  line-height: 18.4px;
}
